<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>LucOS Services</title>
		<meta name="viewport" content="initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="http://$rootdomain$/services.png"/>
		<script type='text/javascript' src='http://$rootdomain$/script'></script>
		<link rel='stylesheet' href="/style.css" />
	</head>
<body>
<div class='lucosmodules section'>
	<h2>lucOS Modules</h2>
		<em>The following lucOS modules are currently installed: </em>
			<ul id='servicelist'>
				$servicelist$
			</ul>
</div>
<div class='thirdparty section'>
	<h2>Third-party admin tools</h2>
	<h3>Routers</h3>
		<em>The following routers are used by the lucOS ecosystem: </em>
	<ul>
		<li><a href="http://btrouter.l42.eu" target="_blank">BT Router</a></li>
	</ul>
	<h3>Other devices</h3>
		<em>The following devices are used by the lucOS ecosystem: </em>
	<ul>
		<li><a href="http://nas.l42.eu" target="_blank">QNAP NAS</a></li>
	</ul>
</div>
</body>

</html>
